.add-peer-form {
  .hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    opacity: 0;
  }

  .button {
    width: 100%;
  }

  .cancel-link {
    font-style: italic;
    text-decoration: none;
    opacity: .4;
    transition: opacity $speed $easing;

    &:hover {
      opacity: 1;
    }
  }
}