<form class="add-peer-form">
    <h1>Make a connection</h1>
    <div class="form-item">
        <input type="radio" name="role" ng-model="vm.role" value="initiator" id="initiator" ng-change="vm.role == 'initiator' ? vm.initiatorInit() : vm.clearScope()"><label for="initiator">Invite a friend</label>
        <input type="radio" name="role" ng-model="vm.role" value="answerer" id="answerer"><label for="answerer">Invited by a friend</label>
    </div>

    <div class="initiator-form" ng-show="vm.role == 'initiator'">
        <div class="offer" ng-show="!vm.initiator.copied && !vm.initiator.done">
            <div class="form-item">
                <input id="initiator-offer" class="hidden" type="text" name="initiator-offer" ng-model="vm.initiator.offer">
            </div>
            <div class="form-item">
                <button class="clipboard button" id="initiator-copy-offer" ng-disabled="!vm.initiator.offer" data-clipboard-target="#initiator-offer">Copy invitation</button>
            </div>
        </div>

        <div class="answer" ng-show="vm.initiator.copied && !vm.initiator.done">
            <div class="form-item">
                <input id="initiator-answer" type="text" name="initiator-answer" placeholder="Please paste the acceptation here" ng-model="vm.initiator.answer">
            </div>
            <div class="form-item">
                <button ng-disabled="!vm.initiator.answer" ng-click="vm.answerPasted()" class="button">Continue</button>
            </div>
        </div>

        <div class="wait form-item" ng-show="vm.initiator.done">
            Let's wait a second.
        </div>
    </div>

    <div class="answerer-form" ng-show="vm.role == 'answerer'">
        <div class="answer" ng-show="!vm.answerer.answer && !vm.answerer.copied">
            <div class="form-item">
                <input id="answerer-offer" type="text" name="answerer-offer" placeholder="Please paste the invitation here" ng-model="vm.answerer.offer">
            </div>
            <div class="form-item">
                <button ng-disabled="!vm.answerer.offer" ng-click="vm.answererInit()" class="button">Continue</button>
            </div>
        </div>

        <div class="offer" ng-show="vm.answerer.answer && !vm.answerer.copied">
            <div class="form-item">
                <input id="answerer-answer" class="hidden" type="text" name="answerer-answer" ng-model="vm.answerer.answer">
            </div>
            <div class="form-item">
                <button class="clipboard button" id="answerer-copy-answer" ng-disabled="!vm.answerer.offer" data-clipboard-target="#answerer-answer">Copy acceptation</button>
            </div>
        </div>

        <div class="wait form-item" ng-show="vm.answerer.copied">
            Please give it to your friend and wait for him to accept it.
        </div>
    </div>

    <a ui-sref="chat" class="cancel-link">Cancel</a>
</form>
