.page.add-group {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  max-height: 90vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .form-group {
    @include clearfix;
    float: left;
    clear: both;
    padding: 5px 0;
  }

  .inline.field-checkbox {
    label {
      float: right;
      margin-left: 10px;
    }

    .field-wrap {
      float: left;
    }
  }

  .inside-plugin {
    margin-left: 30px;
  }

  .form-group.field-input {
    width: 100%;

    input {
      width: 100%;
    }
  }
}