.page.add-group {
  @include grid-span(10, 2);
  padding-bottom: $padding * 3;

  .form-group {
    @include clearfix;
    float: left;
    clear: both;
    padding: 5px 0;
    width: 100%;


    &.field-input {
      input {
        width: 100%;
      }
    }
  }

  .inline.field-checkbox {
    label {
      @include grid-span(9, 2, 10);
    }

    .field-wrap {
      float: left;
    }
  }

  .inside-plugin {
    @include grid-span(9, 2, 10);
    clear: both;
  }
}

@include breakpoint($tablet) {
  .page.add-group {
    @include grid-span(12, 7);
  }
}

@include breakpoint($desktop) {
  .page.add-group {
    @include grid-span(14, 12);
  }
}