$camera-size: 200px;

.page.profile {
  .camera-wrapper {
    width: $camera-size;
    height: $camera-size;
    position: relative;
  }

  .camera-inner {
    overflow: hidden;
    width: $camera-size;
    height: $camera-size;
    border: 2px solid black;
    border-radius: 50%;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      top: 50%;
      left: 50%;
      transition: all $speed $easing;
      background-color: white;
      z-index: 2;
      opacity: 0;
      transform: translate(-50%, -50%) rotate(0) scale(1);
    }
  }

  .camera,
  .snapshot {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  .has-snapshot {
    .snapshot {
      z-index: 2;
    }
  }

  .snap {
    width: 60px;
    height: 60px;
    background-color: black;
    border: 4px solid black;
    position: absolute;
    right: 0;
    border-radius: 50%;
    top: 50%;
    z-index: 3;
    cursor: pointer;
    transform: translate(50%, -50%);
    transition: all $speed $easing;

    &:before,
    &:after {
      content: '';
      position: absolute;
      display: block;
      width: 50%;
      height: 50%;
      top: 50%;
      left: 50%;
      transition: all $speed $easing;
      background-color: red;
      border-radius: 50%;
      transform: translate(-50%, -50%) rotate(0) scale(1);
    }

    &:hover {
      &:before, &:after {
        transform: translate(-50%, -50%) rotate(0) scale(1.5);
      }
    }
  }

  &.has-snapshot {
    .camera-inner:after {
      animation: flash .1s;
    }

    .snap {
      background-color: white;

      &:before,
      &:after {
        height: 4px;
        border-radius: 0;
        background-color: black;
      }

      &:before {
        transform: translate(-50%, -50%) rotate(135deg) scale(1);
      }

      &:after {
        transform: translate(-50%, -50%) rotate(45deg) scale(1);
      }

      &:hover {
        &:before {
          transform: translate(-50%, -50%) rotate(135deg) scale(1.3);
        }

        &:after {
          transform: translate(-50%, -50%) rotate(45deg) scale(1.3);
        }
      }
    }
  }
}

@keyframes flash {
  from {opacity: 0;}
  to {opacity: 1;}
}
