html, body {
  margin: 0;
  padding: 0;
  background-color: $yellow;
  font-family: 'Catamaran', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Abril Fatface', cursive;
  font-size-adjust: .8;
  color: $black;
  font-weight: 500;
}

* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

*::-moz-focus-inner {
  border: none;
}

.no-transitions * {
  transition: none !important;

  &:after, &:before {
    transition: none !important;
  }
}

::placeholder {
  opacity: 1;
  color: $black;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Catamaran', sans-serif;
}

input[type="text"] {
  border: 0;
  border-bottom: rgba($black, .2) 2px solid;
  background-color: transparent;
  padding: 10px 0;
  width: 100%;
  color: $black;
  transition: all $speed $easing;
  font-weight: 500;
  font-size: 18px;
  font-family: 'Catamaran', sans-serif;

  &:invalid {
    box-shadow: none;
  }

  &:valid,
  &:focus {
    border-bottom: $black 2px solid;
  }
}

a {
  color: $black;
}
