/*
.region-sidebar {
  max-width: 100vw;
  width: 300px;
  float: left;
  height: 100vh;
}

.region-main {
  height: 100vh;
  position: relative;
  float: left;
  width: calc(100% - 300px);
  display: flex;
  flex-direction: column;
}

.region-main-header {
  flex: 0 1 auto;
  @include clearfix;
  padding: $padding * 2;
}

*/

.region-main-header {
  position: relative;
  width: 100%;
}

.region-sidebar {
  @include isolation-span(10, 2);
  transition: transform $transition-speed $easing;
}

.region-main {
  @include isolation-span(10, 2);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

[data-current-depth="2"],
[data-current-depth="3"],
[data-current-depth="4"]{
  .region-sidebar {
    transform: translateX(-100vw);
    transition: transform $transition-speed $easing;
  }
}

.region-main-content {
  flex: 1 1 auto;
  width: 100%;
  padding-bottom: $padding * 2;
}
