#app {
  max-width: $max-width;
  margin: 0 auto;
  background-color: $white;
  @include clearfix;
  height: 100vh;
}

.region-main-header {
  position: relative;
  width: 100%;
}

.region-sidebar {
  @include isolation-span(10, 2);
  transition: transform $transition-speed $easing;
}

.region-main {
  @include isolation-span(10, 2);
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $white;
}

@include breakpoint(max-width $tablet - 1) {
  [data-current-depth="2"],
  [data-current-depth="3"],
  [data-current-depth="4"]{
    .region-sidebar {
      transform: translateX(-100vw);
      transition: transform $transition-speed $easing;
    }
  }
}

.region-main-content {
  flex: 1 1 auto;
  width: 100%;
  padding-bottom: $padding * 2;
}

@include breakpoint($tablet) {
  .region-sidebar {
    @include isolation-span(12, 1);
    height: 100vh;
  }

  .region-main {
    @include isolation-span(10, 14);
  }
}

@include breakpoint($desktop) {
  .region-sidebar {
    @include isolation-span(12, 1);
  }

  .region-main {
    @include isolation-span(22, 14);
  }
}