.region-sidebar {
  max-width: 100vw;
  width: 300px;
  float: left;
  height: 100vh;
}

.region-main {
  height: 100vh;
  float: left;
  width: calc(100% - 300px);
}

.region-main-header {
  width: 100%;
  float: left;
  @include clearfix;
  padding: 20px;
}

.region-main-content {
  width: 100%;
  float: left;
  padding: 20px;
}