<form class="set-name-form" ng-class="{'has-photo': vm.photo }" ng-submit="vm.saveForm()">
    <h1 class="page-title">Yo!</h1>

    <div class="make-snapshot-wrapper form-item">
        <div class="video-wrapper">
            <video id="set-name-video" class="video" width="160" height="120" autoplay></video>
            <canvas id="set-name-canvas" class="video-snapshot" width="160" height="120"></canvas>
        </div>

        <div class="snap-photo" ng-click="vm.photo ? vm.removePhoto() : vm.makePhoto()"></div>
    </div>

    <div class="form-item">
        <input type="text" ng-model="vm.name" placeholder="What is your name?" required>
    </div>

    <div class="form-item">
        <button class="button" ng-disabled="!vm.name || !vm.photo">Continue</button>
    </div>
</form>
