.add-group {
  .form-group {
    @include clearfix;
    float: left;
    clear: both;
    padding: 5px 0;
  }

  .inline.field-checkbox {
    label {
      float: right;
      margin-left: 10px;
    }

    .field-wrap {
      float: left;
    }
  }
}