$snapshot-size: 70px;

.edit-profile-link {
  color: $primary;
  display: flex;
  position: relative;
  z-index: 1;
  width: 100%;
  flex-direction: row;

  .snapshot-wrapper {
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    flex: 0 0 grid-span(3, 1, 10);

    &:after {
      content: '';
      float: left;
      padding-bottom: 100%;
    }
  }

  .snapshot {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  .texts {
    margin-left: grid-span(1, 1, 10);
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .button {
    margin-top: 5px;
  }

  .nickname {
    margin: 0;
    font-weight: bold;
  }
}