body:after {
  content: '';
  display: none;
  height: 100vh;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  pointer-events: none;
  @include sgs-change('debug', true);
  @include background-grid($color: red);
  @include sgs-change('debug', false);
  opacity: 0.3;
  z-index: 10000;
}

body[data-grid="visible"]:after {
  display: block;
}