.group-header {
  @include clearfix;

  > .group-title {
    float: left;
    margin-top: $padding * 2;
  }


  > .group-menu {
    float: right;
  }
}

@include breakpoint($tablet) {
  .group-header {
    @include clearfix;

    > .group-title {
      margin-top: $padding * 2;
      transform: translateY(-4px);
      float: left;
      margin-right: -100%;
    }


    > .group-menu {
      float: right;
    }
  }
}