.group-list-item {
  float: left;
  text-decoration: none;
  color: $gray-dark;
  width: 100%;
  padding: $padding;
  position: relative;
  background-color: $white;
  border-top: 1px solid $gray;
  transition: all $speed $easing;
  border-bottom: 1px solid $gray;

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 6px;
    background-color: $gray;
    transition: background $speed $easing;
  }

  > .group-title {
    margin: 0;
    float: left;
  }

  > .group-member-count {
    color: $primary;
    font-size: 12px;
    float: right;
    margin-right: $padding;
    margin-top: 5px;

    &:after {
      content: '';
      width: 10px;
      height: 10px;
      transform: translateY(1px);
      display: inline-block;
      background-color: $primary;
      border-radius: 50%;
      margin-left: 6px;
    }
  }

  &.router-link-active,
  &:hover {
    z-index: 2;
    color: black;

    &:after {
      background-color: $primary;
    }
  }
}