$speed: 0.1s;

.mobile-menu-toggle {
  position: absolute;
  top: 28px;
  right: 0;
  z-index: 101;

  .bar + .bar {
    margin-top: 6px;
  }

  .bar {
    width: 22px;
    height: 2px;
    background: $primary;
    border-radius: 3px;
    transition: transform ($speed * 2) $easing ($speed / 2), opacity ($speed * 2) $easing 0s;
    opacity: 1;
    transform: translateY(0) rotate(0deg);

    &:nth-child(4), &:nth-child(5) {
      transition: transform ($speed * 2) $easing 0s, opacity ($speed * 2) $easing 0s;
      position: absolute;
      top: 50%;
      margin-top: 0;
      transform: translateY(-50%) rotate(0deg);
    }
  }

  @media ($tablet) {
    display: none;
  }
}

.show-menu {
  .mobile-menu-toggle {
    .bar {
      transition: transform ($speed * 2) $easing ($speed / 2), opacity ($speed * 2) $easing (($speed / 2) + $speed);

      &:nth-child(4), &:nth-child(5) {
        transition: transform ($speed * 2) $easing ($speed * 2), opacity ($speed * 2) $easing (($speed / 2) + $speed);
      }

      &:nth-child(1) {
        opacity: 0;
        transform: translateY(10px);
      }

      &:nth-child(2) {
        opacity: 0;
        transform: translateY(0px);
      }

      &:nth-child(3) {
        opacity: 0;
        transform: translateY(-10px);
      }

      &:nth-child(4) {
        transform: translateY(0) rotate(-45deg);
      }

      &:nth-child(5) {
        transform: translateY(0) rotate(45deg);
      }
    }
  }
}