$snapshot-size: 50px;

.profile.teaser {
  float: left;
  width: 100%;
  color: $primary;

  .snapshot-wrapper {
    overflow: hidden;
    width: $snapshot-size;
    height: $snapshot-size;
    border-radius: 50%;
    position: relative;
    float: left;
  }

  .snapshot {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  .nickname {
    float: left;
    line-height: $snapshot-size;
    vertical-align: middle;
    margin: 0 0 0 $padding;
    font-weight: bold;
  }

  &.small {
    .snapshot-wrapper {
      width: 32px;
      height: 32px;
    }

    .nickname {
      display: none;
    }
  }
}