.profile.teaser {
  float: left;
  margin: 20px;

  .snapshot-wrapper {
    overflow: hidden;
    width: 80px;
    height: 80px;
    border: 2px solid black;
    border-radius: 50%;
    position: relative;
  }

  .snapshot {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  .nickname {
    float: left;
  }

  &.small {
    .snapshot-wrapper {
      width: 32px;
      height: 32px;
    }

    .nickname {
      display: none;
    }
  }
}