.sidebar {
  background-color: $white;
  padding-top: $padding * 2;
  padding-bottom: $padding * 3;

  .sidebar-inner {
    > * {
      margin-bottom: $padding * 3;
      clear: both;
      float: left;
    }
  }
}