.sidebar {
  background-color: $white;
  padding-top: $padding * 2;
  padding-bottom: $padding * 3;

  .sidebar-inner {
    > * {
      margin-bottom: $padding * 3;
      clear: both;
      float: left;
    }
  }
}

@include breakpoint($tablet) {
  .sidebar {
    border-right: 1px solid $gray;
  }

  .sidebar-inner {
    @include isolation-span(10, 2, 'both', 12);
  }
}