@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
body {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
  height: 100%; }

* {
  box-sizing: border-box; }

html {
  padding: 0;
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 300; }

*:focus {
  outline: none; }

*::-moz-focus-inner {
  border: none; }

.group-header {
  border-bottom: 1px solid #4e9a06; }
  .group-header:after {
    content: "";
    display: table;
    clear: both; }
  .group-header > .group-title {
    margin: 0;
    float: left; }
  .group-header > .group-member-count {
    color: #4e9a06;
    font-size: 12px;
    float: left; }
    .group-header > .group-member-count:after {
      content: '';
      width: 10px;
      height: 10px;
      display: inline-block;
      background-color: #4e9a06;
      border-radius: 50%;
      margin-left: 5px; }
  .group-header > .group-menu {
    float: right; }

.group-list-item {
  float: left;
  border: 2px solid #eeeeec;
  text-decoration: none;
  color: black;
  width: 100%;
  padding: 10px;
  position: relative; }
  .group-list-item:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: -2px;
    height: 100%;
    width: 6px;
    background-color: #4e9a06;
    opacity: 0;
    transition: opacity 0.3s ease-in-out; }
  .group-list-item > .group-title {
    margin: 0;
    float: left; }
  .group-list-item > .group-member-count {
    color: #4e9a06;
    font-size: 12px;
    float: right; }
    .group-list-item > .group-member-count:after {
      content: '';
      width: 10px;
      height: 10px;
      display: inline-block;
      background-color: #4e9a06;
      border-radius: 50%;
      margin-left: 5px; }
  .group-list-item.router-link-active:after, .group-list-item:hover:after {
    opacity: 1; }

.group-list {
  float: left;
  width: 100%; }

.group-menu:after {
  content: "";
  display: table;
  clear: both; }

.group-menu .group-menu-link {
  float: left;
  text-decoration: none;
  color: black;
  padding: 16px 20px;
  transition: color 0.3s ease-in-out, border 0.3s ease-in-out;
  border-bottom: 5px solid transparent; }
  .group-menu .group-menu-link:hover, .group-menu .group-menu-link.router-link-active {
    color: #4e9a06;
    border-bottom: 5px solid #4e9a06; }

.multichat-textarea {
  width: 100%;
  border: 0;
  border-bottom: 2px solid #4e9a06;
  resize: none; }

.region-sidebar {
  max-width: 100vw;
  width: 300px;
  float: left;
  height: 100vh; }

.region-main {
  height: 100vh;
  float: left;
  width: calc(100% - 300px); }

.region-main-header {
  width: 100%;
  float: left;
  padding: 20px; }
  .region-main-header:after {
    content: "";
    display: table;
    clear: both; }

.region-main-content {
  width: 100%;
  float: left;
  padding: 20px; }
