@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
.button {
  border: 1px solid #4e9a06;
  padding: 6px 12px;
  text-decoration: none;
  color: #4e9a06;
  display: inline-block;
  border-radius: 4px;
  transition: all 0.3s cubic-bezier(0.3, 0.01, 0.61, 0.95);
  cursor: pointer; }
  .button i {
    transition: all 0.3s cubic-bezier(0.3, 0.01, 0.61, 0.95); }
  .button span + i,
  .button i + span {
    margin-left: 8px; }
  .button.small {
    padding: 3px 7px;
    font-size: 10px;
    text-transform: uppercase; }
    .button.small span + i,
    .button.small i + span {
      margin-left: 6px; }
  .button.secondary {
    letter-spacing: 1px;
    color: #888;
    border-color: #c8c8c8; }
    .button.secondary i {
      color: #c8c8c8; }
    .button.secondary:not(.disabled):hover {
      border-color: #888;
      background-color: #888;
      color: white; }
      .button.secondary:not(.disabled):hover i {
        color: white; }
  .button.primary {
    padding: 4px 10px;
    border: 3px solid #4e9a06;
    font-weight: bold;
    background-color: #f8fef2; }
    .button.primary:not(.disabled):hover {
      background-color: #4e9a06;
      color: white; }
  .button.disabled {
    border-color: #eee;
    cursor: not-allowed;
    color: #eee;
    background-color: transparent; }
  .button + .button {
    margin-left: 12px; }

html {
  height: 100%;
  overflow-x: hidden; }

body {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
  height: 100%;
  overflow-x: hidden;
  background-color: #eee; }

* {
  box-sizing: border-box; }

html {
  padding: 0;
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 300; }

h1 {
  font-size: 20px; }

*:focus {
  outline: none; }

*::-moz-focus-inner {
  border: none; }

*::-webkit-input-placeholder {
  font-family: 'Open Sans', sans-serif; }

*::-moz-placeholder {
  font-family: 'Open Sans', sans-serif; }

*:-ms-input-placeholder {
  font-family: 'Open Sans', sans-serif; }

*::placeholder {
  font-family: 'Open Sans', sans-serif; }

.form-group.field-input > label,
.form-group.field-label > label {
  font-style: italic;
  font-size: 14px;
  color: #888;
  float: left;
  width: 100%; }

.form-group.field-input > label {
  padding-bottom: 10px; }

textarea,
input[type="text"] {
  border: 1px solid #eee;
  padding: 12px;
  margin-bottom: 12px;
  transition: all 0.3s cubic-bezier(0.3, 0.01, 0.61, 0.95);
  width: 100%; }
  textarea::-webkit-input-placeholder,
  input[type="text"]::-webkit-input-placeholder {
    color: #888; }
  textarea::-moz-placeholder,
  input[type="text"]::-moz-placeholder {
    color: #888; }
  textarea:-ms-input-placeholder,
  input[type="text"]:-ms-input-placeholder {
    color: #888; }
  textarea::placeholder,
  input[type="text"]::placeholder {
    color: #888; }
  textarea:focus, textarea:hover,
  input[type="text"]:focus,
  input[type="text"]:hover {
    border-color: #4e9a06; }

input[type="checkbox"] {
  cursor: pointer; }

.form-actions {
  margin-top: 36px;
  display: -ms-flexbox;
  display: flex;
  float: left;
  width: 100%;
  -ms-flex-flow: row;
  flex-flow: row; }
  .form-actions .button {
    text-align: center;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto; }

input:required {
  box-shadow: none; }

@media (min-width: 960px) {
  .form-actions {
    display: block;
    float: right;
    clear: both;
    width: auto; } }

.edit-profile-link {
  color: #4e9a06;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 1;
  width: 100%;
  -ms-flex-direction: row;
  flex-direction: row; }
  .edit-profile-link .snapshot-wrapper {
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    -ms-flex: 0 0 30%;
    flex: 0 0 30%; }
    .edit-profile-link .snapshot-wrapper:after {
      content: '';
      float: left;
      padding-bottom: 100%; }
  .edit-profile-link .snapshot {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    transform: translate(-50%, -50%);
    z-index: 1; }
  .edit-profile-link .texts {
    margin-left: 10%;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: start;
    align-items: flex-start; }
  .edit-profile-link .button {
    margin-top: 5px; }
  .edit-profile-link .nickname {
    margin: 0;
    font-weight: bold; }

.flex-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100vh; }

body:after {
  content: '';
  display: none;
  height: 100vh;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  top: 0;
  max-width: 1280px;
  pointer-events: none;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww%2Ew3%2Eorg%2F2000%2Fsvg%22%3E%3Crect%20x%3D%220%25%22%20fill%3D%22red%22%20width%3D%228%2E33333%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%228%2E33333%25%22%20fill%3D%22%23ff4040%22%20width%3D%220%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%228%2E33333%25%22%20fill%3D%22%23d90000%22%20width%3D%228%2E33333%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2216%2E66667%25%22%20fill%3D%22%23ff4040%22%20width%3D%220%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2216%2E66667%25%22%20fill%3D%22red%22%20width%3D%228%2E33333%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2225%25%22%20fill%3D%22%23ff4040%22%20width%3D%220%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2225%25%22%20fill%3D%22%23d90000%22%20width%3D%228%2E33333%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2233%2E33333%25%22%20fill%3D%22%23ff4040%22%20width%3D%220%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2233%2E33333%25%22%20fill%3D%22red%22%20width%3D%228%2E33333%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2241%2E66667%25%22%20fill%3D%22%23ff4040%22%20width%3D%220%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2241%2E66667%25%22%20fill%3D%22%23d90000%22%20width%3D%228%2E33333%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2250%25%22%20fill%3D%22%23ff4040%22%20width%3D%220%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2250%25%22%20fill%3D%22red%22%20width%3D%228%2E33333%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2258%2E33333%25%22%20fill%3D%22%23ff4040%22%20width%3D%220%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2258%2E33333%25%22%20fill%3D%22%23d90000%22%20width%3D%228%2E33333%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2266%2E66667%25%22%20fill%3D%22%23ff4040%22%20width%3D%220%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2266%2E66667%25%22%20fill%3D%22red%22%20width%3D%228%2E33333%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2275%25%22%20fill%3D%22%23ff4040%22%20width%3D%220%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2275%25%22%20fill%3D%22%23d90000%22%20width%3D%228%2E33333%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2283%2E33333%25%22%20fill%3D%22%23ff4040%22%20width%3D%220%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2283%2E33333%25%22%20fill%3D%22red%22%20width%3D%228%2E33333%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2291%2E66667%25%22%20fill%3D%22%23ff4040%22%20width%3D%220%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2291%2E66667%25%22%20fill%3D%22%23d90000%22%20width%3D%228%2E33333%25%22%20height%3D%22100%25%22%2F%3E%3C%2Fsvg%3E");
  opacity: 0.3;
  z-index: 10000; }
  @media (min-width: 620px) {
    body:after {
      background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww%2Ew3%2Eorg%2F2000%2Fsvg%22%3E%3Crect%20x%3D%220%25%22%20fill%3D%22red%22%20width%3D%224%2E16667%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%224%2E16667%25%22%20fill%3D%22%23ff4040%22%20width%3D%220%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%224%2E16667%25%22%20fill%3D%22%23d90000%22%20width%3D%224%2E16667%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%228%2E33333%25%22%20fill%3D%22%23ff4040%22%20width%3D%220%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%228%2E33333%25%22%20fill%3D%22red%22%20width%3D%224%2E16667%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2212%2E5%25%22%20fill%3D%22%23ff4040%22%20width%3D%220%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2212%2E5%25%22%20fill%3D%22%23d90000%22%20width%3D%224%2E16667%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2216%2E66667%25%22%20fill%3D%22%23ff4040%22%20width%3D%220%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2216%2E66667%25%22%20fill%3D%22red%22%20width%3D%224%2E16667%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2220%2E83333%25%22%20fill%3D%22%23ff4040%22%20width%3D%220%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2220%2E83333%25%22%20fill%3D%22%23d90000%22%20width%3D%224%2E16667%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2225%25%22%20fill%3D%22%23ff4040%22%20width%3D%220%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2225%25%22%20fill%3D%22red%22%20width%3D%224%2E16667%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2229%2E16667%25%22%20fill%3D%22%23ff4040%22%20width%3D%220%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2229%2E16667%25%22%20fill%3D%22%23d90000%22%20width%3D%224%2E16667%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2233%2E33333%25%22%20fill%3D%22%23ff4040%22%20width%3D%220%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2233%2E33333%25%22%20fill%3D%22red%22%20width%3D%224%2E16667%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2237%2E5%25%22%20fill%3D%22%23ff4040%22%20width%3D%220%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2237%2E5%25%22%20fill%3D%22%23d90000%22%20width%3D%224%2E16667%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2241%2E66667%25%22%20fill%3D%22%23ff4040%22%20width%3D%220%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2241%2E66667%25%22%20fill%3D%22red%22%20width%3D%224%2E16667%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2245%2E83333%25%22%20fill%3D%22%23ff4040%22%20width%3D%220%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2245%2E83333%25%22%20fill%3D%22%23d90000%22%20width%3D%224%2E16667%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2250%25%22%20fill%3D%22%23ff4040%22%20width%3D%220%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2250%25%22%20fill%3D%22red%22%20width%3D%224%2E16667%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2254%2E16667%25%22%20fill%3D%22%23ff4040%22%20width%3D%220%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2254%2E16667%25%22%20fill%3D%22%23d90000%22%20width%3D%224%2E16667%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2258%2E33333%25%22%20fill%3D%22%23ff4040%22%20width%3D%220%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2258%2E33333%25%22%20fill%3D%22red%22%20width%3D%224%2E16667%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2262%2E5%25%22%20fill%3D%22%23ff4040%22%20width%3D%220%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2262%2E5%25%22%20fill%3D%22%23d90000%22%20width%3D%224%2E16667%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2266%2E66667%25%22%20fill%3D%22%23ff4040%22%20width%3D%220%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2266%2E66667%25%22%20fill%3D%22red%22%20width%3D%224%2E16667%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2270%2E83333%25%22%20fill%3D%22%23ff4040%22%20width%3D%220%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2270%2E83333%25%22%20fill%3D%22%23d90000%22%20width%3D%224%2E16667%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2275%25%22%20fill%3D%22%23ff4040%22%20width%3D%220%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2275%25%22%20fill%3D%22red%22%20width%3D%224%2E16667%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2279%2E16667%25%22%20fill%3D%22%23ff4040%22%20width%3D%220%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2279%2E16667%25%22%20fill%3D%22%23d90000%22%20width%3D%224%2E16667%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2283%2E33333%25%22%20fill%3D%22%23ff4040%22%20width%3D%220%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2283%2E33333%25%22%20fill%3D%22red%22%20width%3D%224%2E16667%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2287%2E5%25%22%20fill%3D%22%23ff4040%22%20width%3D%220%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2287%2E5%25%22%20fill%3D%22%23d90000%22%20width%3D%224%2E16667%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2291%2E66667%25%22%20fill%3D%22%23ff4040%22%20width%3D%220%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2291%2E66667%25%22%20fill%3D%22red%22%20width%3D%224%2E16667%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2295%2E83333%25%22%20fill%3D%22%23ff4040%22%20width%3D%220%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2295%2E83333%25%22%20fill%3D%22%23d90000%22%20width%3D%224%2E16667%25%22%20height%3D%22100%25%22%2F%3E%3C%2Fsvg%3E"); } }
  @media (min-width: 960px) {
    body:after {
      background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww%2Ew3%2Eorg%2F2000%2Fsvg%22%3E%3Crect%20x%3D%220%25%22%20fill%3D%22red%22%20width%3D%222%2E77778%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%222%2E77778%25%22%20fill%3D%22%23ff4040%22%20width%3D%220%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%222%2E77778%25%22%20fill%3D%22%23d90000%22%20width%3D%222%2E77778%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%225%2E55556%25%22%20fill%3D%22%23ff4040%22%20width%3D%220%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%225%2E55556%25%22%20fill%3D%22red%22%20width%3D%222%2E77778%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%228%2E33333%25%22%20fill%3D%22%23ff4040%22%20width%3D%220%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%228%2E33333%25%22%20fill%3D%22%23d90000%22%20width%3D%222%2E77778%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2211%2E11111%25%22%20fill%3D%22%23ff4040%22%20width%3D%220%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2211%2E11111%25%22%20fill%3D%22red%22%20width%3D%222%2E77778%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2213%2E88889%25%22%20fill%3D%22%23ff4040%22%20width%3D%220%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2213%2E88889%25%22%20fill%3D%22%23d90000%22%20width%3D%222%2E77778%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2216%2E66667%25%22%20fill%3D%22%23ff4040%22%20width%3D%220%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2216%2E66667%25%22%20fill%3D%22red%22%20width%3D%222%2E77778%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2219%2E44444%25%22%20fill%3D%22%23ff4040%22%20width%3D%220%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2219%2E44444%25%22%20fill%3D%22%23d90000%22%20width%3D%222%2E77778%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2222%2E22222%25%22%20fill%3D%22%23ff4040%22%20width%3D%220%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2222%2E22222%25%22%20fill%3D%22red%22%20width%3D%222%2E77778%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2225%25%22%20fill%3D%22%23ff4040%22%20width%3D%220%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2225%25%22%20fill%3D%22%23d90000%22%20width%3D%222%2E77778%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2227%2E77778%25%22%20fill%3D%22%23ff4040%22%20width%3D%220%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2227%2E77778%25%22%20fill%3D%22red%22%20width%3D%222%2E77778%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2230%2E55556%25%22%20fill%3D%22%23ff4040%22%20width%3D%220%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2230%2E55556%25%22%20fill%3D%22%23d90000%22%20width%3D%222%2E77778%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2233%2E33333%25%22%20fill%3D%22%23ff4040%22%20width%3D%220%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2233%2E33333%25%22%20fill%3D%22red%22%20width%3D%222%2E77778%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2236%2E11111%25%22%20fill%3D%22%23ff4040%22%20width%3D%220%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2236%2E11111%25%22%20fill%3D%22%23d90000%22%20width%3D%222%2E77778%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2238%2E88889%25%22%20fill%3D%22%23ff4040%22%20width%3D%220%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2238%2E88889%25%22%20fill%3D%22red%22%20width%3D%222%2E77778%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2241%2E66667%25%22%20fill%3D%22%23ff4040%22%20width%3D%220%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2241%2E66667%25%22%20fill%3D%22%23d90000%22%20width%3D%222%2E77778%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2244%2E44444%25%22%20fill%3D%22%23ff4040%22%20width%3D%220%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2244%2E44444%25%22%20fill%3D%22red%22%20width%3D%222%2E77778%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2247%2E22222%25%22%20fill%3D%22%23ff4040%22%20width%3D%220%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2247%2E22222%25%22%20fill%3D%22%23d90000%22%20width%3D%222%2E77778%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2250%25%22%20fill%3D%22%23ff4040%22%20width%3D%220%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2250%25%22%20fill%3D%22red%22%20width%3D%222%2E77778%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2252%2E77778%25%22%20fill%3D%22%23ff4040%22%20width%3D%220%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2252%2E77778%25%22%20fill%3D%22%23d90000%22%20width%3D%222%2E77778%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2255%2E55556%25%22%20fill%3D%22%23ff4040%22%20width%3D%220%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2255%2E55556%25%22%20fill%3D%22red%22%20width%3D%222%2E77778%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2258%2E33333%25%22%20fill%3D%22%23ff4040%22%20width%3D%220%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2258%2E33333%25%22%20fill%3D%22%23d90000%22%20width%3D%222%2E77778%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2261%2E11111%25%22%20fill%3D%22%23ff4040%22%20width%3D%220%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2261%2E11111%25%22%20fill%3D%22red%22%20width%3D%222%2E77778%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2263%2E88889%25%22%20fill%3D%22%23ff4040%22%20width%3D%220%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2263%2E88889%25%22%20fill%3D%22%23d90000%22%20width%3D%222%2E77778%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2266%2E66667%25%22%20fill%3D%22%23ff4040%22%20width%3D%220%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2266%2E66667%25%22%20fill%3D%22red%22%20width%3D%222%2E77778%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2269%2E44444%25%22%20fill%3D%22%23ff4040%22%20width%3D%220%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2269%2E44444%25%22%20fill%3D%22%23d90000%22%20width%3D%222%2E77778%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2272%2E22222%25%22%20fill%3D%22%23ff4040%22%20width%3D%220%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2272%2E22222%25%22%20fill%3D%22red%22%20width%3D%222%2E77778%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2275%25%22%20fill%3D%22%23ff4040%22%20width%3D%220%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2275%25%22%20fill%3D%22%23d90000%22%20width%3D%222%2E77778%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2277%2E77778%25%22%20fill%3D%22%23ff4040%22%20width%3D%220%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2277%2E77778%25%22%20fill%3D%22red%22%20width%3D%222%2E77778%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2280%2E55556%25%22%20fill%3D%22%23ff4040%22%20width%3D%220%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2280%2E55556%25%22%20fill%3D%22%23d90000%22%20width%3D%222%2E77778%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2283%2E33333%25%22%20fill%3D%22%23ff4040%22%20width%3D%220%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2283%2E33333%25%22%20fill%3D%22red%22%20width%3D%222%2E77778%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2286%2E11111%25%22%20fill%3D%22%23ff4040%22%20width%3D%220%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2286%2E11111%25%22%20fill%3D%22%23d90000%22%20width%3D%222%2E77778%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2288%2E88889%25%22%20fill%3D%22%23ff4040%22%20width%3D%220%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2288%2E88889%25%22%20fill%3D%22red%22%20width%3D%222%2E77778%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2291%2E66667%25%22%20fill%3D%22%23ff4040%22%20width%3D%220%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2291%2E66667%25%22%20fill%3D%22%23d90000%22%20width%3D%222%2E77778%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2294%2E44444%25%22%20fill%3D%22%23ff4040%22%20width%3D%220%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2294%2E44444%25%22%20fill%3D%22red%22%20width%3D%222%2E77778%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2297%2E22222%25%22%20fill%3D%22%23ff4040%22%20width%3D%220%25%22%20height%3D%22100%25%22%2F%3E%3Crect%20x%3D%2297%2E22222%25%22%20fill%3D%22%23d90000%22%20width%3D%222%2E77778%25%22%20height%3D%22100%25%22%2F%3E%3C%2Fsvg%3E"); } }

body[data-grid="visible"]:after {
  display: block; }

.group-header:after {
  content: "";
  display: table;
  clear: both; }

.group-header > .group-title {
  float: left;
  margin-top: 24px; }

.group-header > .group-menu {
  float: right; }

@media (min-width: 620px) {
  .group-header:after {
    content: "";
    display: table;
    clear: both; }
  .group-header > .group-title {
    margin-top: 24px;
    transform: translateY(-4px);
    float: left;
    margin-right: -100%; }
  .group-header > .group-menu {
    float: right; } }

@media (min-width: 960px) {
  .group-header:after {
    content: "";
    display: table;
    clear: both; }
  .group-header > .group-title {
    margin-top: 30px; } }

.group-list-item {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  text-decoration: none;
  color: #888;
  padding: 12px;
  position: relative;
  background-color: white;
  border: 1px solid #eee;
  transition: all 0.3s cubic-bezier(0.3, 0.01, 0.61, 0.95);
  /*
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 6px;
    background-color: $gray;
    transition: background $speed $easing;
  } */ }
  .group-list-item > .group-title {
    margin: 0;
    float: left; }
  .group-list-item > .group-member-count {
    color: #4e9a06;
    font-size: 12px;
    float: right;
    margin-right: 12px;
    margin-top: 5px; }
    .group-list-item > .group-member-count:after {
      content: '';
      width: 10px;
      height: 10px;
      transform: translateY(1px);
      display: inline-block;
      background-color: #4e9a06;
      border-radius: 50%;
      margin-left: 6px; }
  .group-list-item.router-link-active, .group-list-item:hover {
    z-index: 2;
    color: black; }

@media (min-width: 620px) {
  .group-list-item {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    padding-left: 8.33333%; }
    .group-list-item:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 6px;
      background-color: #eee;
      transition: background 0.3s cubic-bezier(0.3, 0.01, 0.61, 0.95); }
    .group-list-item.router-link-active, .group-list-item:hover {
      z-index: 2;
      color: black; }
      .group-list-item.router-link-active:after, .group-list-item:hover:after {
        background-color: #4e9a06; } }

.group-list {
  float: left;
  width: 100%;
  clear: both; }
  .group-list .group-list-item {
    margin-bottom: -1px; }

@media (min-width: 620px) {
  .group-list {
    width: calc(100% + 1px); } }

.group-menu .menu-title {
  width: 83.33333%;
  float: left;
  margin-right: -100%;
  margin-left: 8.33333%;
  clear: none; }

.group-menu .sub-menu {
  padding-left: 8.33333%; }

.group-menu .menu-link {
  padding: 12px;
  padding-left: 8.33333%; }

@media (max-width: 959px) {
  .nested-menu {
    float: left;
    clear: both;
    width: 100%; }
    .nested-menu:after {
      content: "";
      display: table;
      clear: both; }
  .group-menu {
    background-color: #eee;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: -1;
    transition: z-index 0s 0.6s, opacity 0.3s cubic-bezier(0.3, 0.01, 0.61, 0.95) 0.3s; }
    .group-menu .menu-title {
      margin-top: 24px; }
    .group-menu > .menu-list {
      margin-top: 72px; }
    .group-menu .menu-title,
    .group-menu > .menu-list {
      opacity: 0;
      transform: translateY(-6px);
      transition: all 0.3s cubic-bezier(0.3, 0.01, 0.61, 0.95) 0s; }
    .group-menu .menu-list {
      padding: 0; }
    .group-menu .menu-item {
      float: left;
      list-style: none;
      width: 100%;
      clear: both; }
    .group-menu .menu-link {
      float: left;
      text-decoration: none;
      white-space: nowrap;
      width: 100%;
      color: black;
      font-size: 14px;
      padding: 12px;
      transition: color 0.3s cubic-bezier(0.3, 0.01, 0.61, 0.95), border 0.3s cubic-bezier(0.3, 0.01, 0.61, 0.95), background-color 0.3s cubic-bezier(0.3, 0.01, 0.61, 0.95);
      border-bottom: 5px solid transparent; }
      .group-menu .menu-link:hover, .group-menu .menu-link.router-link-active {
        color: white;
        background-color: #4e9a06; }
      .group-menu .menu-link.router-link-active + .group-sub-menu > .menu-list {
        display: block; }
  .show-menu .group-menu {
    transition: z-index 0s 0s, opacity 0.3s cubic-bezier(0.3, 0.01, 0.61, 0.95) 0s;
    opacity: 1;
    z-index: 100; }
    .show-menu .group-menu .menu-title,
    .show-menu .group-menu > .menu-list {
      transition: all 0.3s cubic-bezier(0.3, 0.01, 0.61, 0.95) 0.3s;
      opacity: 1;
      transform: translateY(0); } }

@media (min-width: 620px) {
  .group-menu {
    left: auto;
    width: 50%; } }

@media (min-width: 960px) {
  .nested-menu {
    float: left;
    clear: both;
    width: 100%; }
    .nested-menu:after {
      content: "";
      display: table;
      clear: both; }
  .menu-title {
    display: none; }
  .group-menu {
    padding: 0;
    overflow: hidden;
    margin: 0;
    margin-top: 20px;
    float: left;
    clear: none;
    width: 100%;
    position: relative; }
    .group-menu .menu-item {
      float: left;
      list-style: none; }
    .group-menu .menu-list {
      float: right;
      padding: 0;
      position: relative;
      margin: 0; }
      .group-menu .menu-list:after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100vw;
        background-color: #4e9a06;
        height: 1px; }
    .group-menu .sub-menu {
      margin-top: 30px; }
      .group-menu .sub-menu .menu-list:after {
        background-color: #eee; }
    .group-menu .menu-link {
      float: left;
      text-decoration: none;
      white-space: nowrap;
      color: black;
      font-size: 14px;
      padding: 16px 20px;
      transition: color 0.3s cubic-bezier(0.3, 0.01, 0.61, 0.95), border 0.3s cubic-bezier(0.3, 0.01, 0.61, 0.95);
      border-bottom: 5px solid transparent; }
      .group-menu .menu-link:hover, .group-menu .menu-link.router-link-active {
        color: #4e9a06;
        border-bottom: 5px solid #4e9a06; }
      .group-menu .menu-link.router-link-active + .group-sub-menu > .menu-list {
        display: block; } }

.logo-link {
  max-width: 100%; }
  .logo-link .logo {
    width: 140px; }

.mobile-back-link {
  font-size: 16px;
  color: #4e9a06;
  margin-right: 7px; }

@media (min-width: 620px) {
  .mobile-back-link {
    display: none; } }

.mobile-menu-toggle {
  position: absolute;
  top: 8px;
  right: -20px;
  z-index: 101;
  cursor: pointer;
  padding: 20px; }
  .mobile-menu-toggle .bar + .bar {
    margin-top: 6px; }
  .mobile-menu-toggle .bar {
    width: 22px;
    height: 2px;
    background: #4e9a06;
    border-radius: 3px;
    transition: transform 0.2s cubic-bezier(0.3, 0.01, 0.61, 0.95) 0.05s, opacity 0.2s cubic-bezier(0.3, 0.01, 0.61, 0.95) 0s;
    opacity: 1;
    transform: translateY(0) rotate(0deg); }
    .mobile-menu-toggle .bar:nth-child(4), .mobile-menu-toggle .bar:nth-child(5) {
      transition: transform 0.2s cubic-bezier(0.3, 0.01, 0.61, 0.95) 0s, opacity 0.2s cubic-bezier(0.3, 0.01, 0.61, 0.95) 0s;
      position: absolute;
      top: 50%;
      margin-top: 0;
      transform: translateY(-50%) rotate(0deg); }

.show-menu .mobile-menu-toggle .bar {
  transition: transform 0.2s cubic-bezier(0.3, 0.01, 0.61, 0.95) 0.05s, opacity 0.2s cubic-bezier(0.3, 0.01, 0.61, 0.95) 0.15s; }
  .show-menu .mobile-menu-toggle .bar:nth-child(4), .show-menu .mobile-menu-toggle .bar:nth-child(5) {
    transition: transform 0.2s cubic-bezier(0.3, 0.01, 0.61, 0.95) 0.2s, opacity 0.2s cubic-bezier(0.3, 0.01, 0.61, 0.95) 0.15s; }
  .show-menu .mobile-menu-toggle .bar:nth-child(1) {
    opacity: 0;
    transform: translateY(10px); }
  .show-menu .mobile-menu-toggle .bar:nth-child(2) {
    opacity: 0;
    transform: translateY(0px); }
  .show-menu .mobile-menu-toggle .bar:nth-child(3) {
    opacity: 0;
    transform: translateY(-10px); }
  .show-menu .mobile-menu-toggle .bar:nth-child(4) {
    transform: translateY(0) rotate(-45deg); }
  .show-menu .mobile-menu-toggle .bar:nth-child(5) {
    transform: translateY(0) rotate(45deg); }

@media (min-width: 960px) {
  .mobile-menu-toggle {
    display: none; } }

.page-title {
  margin-top: 36px; }

.plugin-title {
  margin-top: 0;
  color: #4e9a06; }

@media (min-width: 960px) {
  .plugin-title {
    margin-top: 36px; } }

.profile.teaser {
  float: left;
  width: 100%;
  color: #4e9a06; }
  .profile.teaser .snapshot-wrapper {
    overflow: hidden;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    float: left; }
  .profile.teaser .snapshot {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    transform: translate(-50%, -50%);
    z-index: 1; }
  .profile.teaser .nickname {
    float: left;
    line-height: 50px;
    vertical-align: middle;
    margin: 0 0 0 12px;
    font-weight: bold; }
  .profile.teaser.small .snapshot-wrapper {
    width: 32px;
    height: 32px; }
  .profile.teaser.small .nickname {
    display: none; }

.settings-page-item {
  clear: both;
  float: left; }

.sidebar {
  background-color: white;
  padding-top: 24px;
  padding-bottom: 36px; }
  .sidebar .sidebar-inner > * {
    margin-bottom: 36px;
    clear: both;
    float: left; }

@media (min-width: 620px) {
  .sidebar {
    border-right: 1px solid #eee; }
  .sidebar-inner {
    width: 83.33333%;
    float: left;
    margin-right: -100%;
    margin-left: 8.33333%;
    clear: both; } }

.page.add-group {
  width: 83.33333%;
  float: left;
  margin-right: -100%;
  margin-left: 8.33333%;
  clear: none;
  padding-bottom: 36px; }
  .page.add-group .form-group {
    float: left;
    clear: both;
    padding: 5px 0;
    width: 100%; }
    .page.add-group .form-group:after {
      content: "";
      display: table;
      clear: both; }
    .page.add-group .form-group.field-input input {
      width: 100%; }
  .page.add-group .inline.field-checkbox label {
    width: 90%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }
  .page.add-group .inline.field-checkbox .field-wrap {
    float: left; }
  .page.add-group .inside-plugin {
    width: 90%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    clear: both; }

@media (min-width: 620px) {
  .page.add-group {
    width: 50%;
    float: left;
    margin-right: -100%;
    margin-left: 25%;
    clear: none; } }

@media (min-width: 960px) {
  .page.add-group {
    width: 38.88889%;
    float: left;
    margin-right: -100%;
    margin-left: 30.55556%;
    clear: none; } }

[data-current-route="groups.group.settings.plugin"] .vue-form-generator,
[data-current-route="groups.group.settings"] .vue-form-generator {
  padding-top: 24px; }

.page.profile {
  margin-top: 36px;
  width: 83.33333%;
  float: left;
  margin-right: -100%;
  margin-left: 8.33333%;
  clear: none;
  padding-bottom: 36px; }
  .page.profile > * + * {
    margin-top: 24px;
    float: left;
    clear: both; }
  .page.profile .vue-form-generator,
  .page.profile .form-group {
    width: 100%; }
  .page.profile .button {
    text-align: center;
    position: relative;
    float: right; }
  .page.profile input[type="text"] {
    width: 100%; }
  .page.profile .camera-wrapper {
    position: relative;
    width: 60%;
    float: left;
    margin-right: -100%;
    margin-left: 20%;
    clear: none; }
    .page.profile .camera-wrapper:after {
      content: '';
      float: left;
      padding-bottom: 100%; }
  .page.profile .camera-inner {
    overflow: hidden;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
    .page.profile .camera-inner:after {
      content: '';
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      top: 50%;
      left: 50%;
      transition: all 0.1s cubic-bezier(0.3, 0.01, 0.61, 0.95);
      background-color: white;
      z-index: 2;
      opacity: 0;
      transform: translate(-50%, -50%) rotate(0) scale(1); }
  .page.profile .camera,
  .page.profile .snapshot {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; }
  .page.profile .has-snapshot .snapshot {
    z-index: 2; }
  .page.profile .snap {
    width: 60px;
    height: 60px;
    background-color: white;
    border: 4px solid #888;
    position: absolute;
    right: 0;
    border-radius: 50%;
    top: 50%;
    z-index: 3;
    cursor: pointer;
    transform: translate(50%, -50%);
    transition: all 0.1s cubic-bezier(0.3, 0.01, 0.61, 0.95); }
    .page.profile .snap:before, .page.profile .snap:after {
      content: '';
      position: absolute;
      display: block;
      width: 50%;
      height: 50%;
      top: 50%;
      left: 50%;
      transition: all 0.1s cubic-bezier(0.3, 0.01, 0.61, 0.95);
      background-color: red;
      border-radius: 50%;
      transform: translate(-50%, -50%) rotate(0) scale(1); }
    .page.profile .snap:hover:before, .page.profile .snap:hover:after {
      transform: translate(-50%, -50%) rotate(0) scale(1.5); }
  .page.profile.has-snapshot .camera-inner:after {
    animation: flash .1s; }
  .page.profile.has-snapshot .snap {
    background-color: white; }
    .page.profile.has-snapshot .snap:before, .page.profile.has-snapshot .snap:after {
      height: 4px;
      border-radius: 0;
      background-color: #888; }
    .page.profile.has-snapshot .snap:before {
      transform: translate(-50%, -50%) rotate(135deg) scale(1); }
    .page.profile.has-snapshot .snap:after {
      transform: translate(-50%, -50%) rotate(45deg) scale(1); }
    .page.profile.has-snapshot .snap:hover:before {
      transform: translate(-50%, -50%) rotate(135deg) scale(1.3); }
    .page.profile.has-snapshot .snap:hover:after {
      transform: translate(-50%, -50%) rotate(45deg) scale(1.3); }

@keyframes flash {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@media (min-width: 620px) {
  .page.profile {
    width: 41.66667%;
    float: left;
    margin-right: -100%;
    margin-left: 29.16667%;
    clear: none; }
    .page.profile .camera-wrapper {
      width: 60%;
      float: left;
      margin-right: -100%;
      margin-left: 20%;
      clear: none; } }

@media (min-width: 960px) {
  .page.profile {
    width: 38.88889%;
    float: left;
    margin-right: -100%;
    margin-left: 30.55556%;
    clear: none; }
    .page.profile .camera-wrapper {
      width: 42.85714%;
      float: left;
      margin-right: -100%;
      margin-left: 28.57143%;
      clear: none; }
    .page.profile .form-actions {
      float: right; } }

.multichat-textarea {
  resize: none;
  width: 100%;
  height: 70px; }

.multichat-send {
  width: 100%;
  text-align: center; }

.multichat-chats {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; }

.multichat-chat-message {
  clear: both;
  float: left;
  padding: 10px 0; }
  .multichat-chat-message .profile.teaser {
    width: auto;
    margin: 12px; }
  .multichat-chat-message.self {
    float: right; }
    .multichat-chat-message.self .profile.teaser {
      float: right; }

.multichat.region-main-content {
  -ms-flex-direction: column;
  flex-direction: column;
  display: -ms-flexbox;
  display: flex; }

.multichat-footer {
  width: 100%; }

#app {
  max-width: 1280px;
  margin: 0 auto;
  background-color: white;
  height: 100vh; }
  #app:after {
    content: "";
    display: table;
    clear: both; }

.region-main-header {
  position: relative;
  width: 100%; }

.region-sidebar {
  width: 83.33333%;
  float: left;
  margin-right: -100%;
  margin-left: 8.33333%;
  clear: none;
  transition: transform 0.3s cubic-bezier(0.3, 0.01, 0.61, 0.95); }

.region-main {
  width: 83.33333%;
  float: left;
  margin-right: -100%;
  margin-left: 8.33333%;
  clear: none;
  height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: white; }

@media (max-width: 619px) {
  [data-current-depth="2"] .region-sidebar,
  [data-current-depth="3"] .region-sidebar,
  [data-current-depth="4"] .region-sidebar {
    transform: translateX(-100vw);
    transition: transform 0.3s cubic-bezier(0.3, 0.01, 0.61, 0.95); } }

.region-main-content {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 100%;
  padding-bottom: 24px; }

@media (min-width: 620px) {
  .region-sidebar {
    width: 50%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
    height: 100vh; }
  .region-main {
    width: 41.66667%;
    float: left;
    margin-right: -100%;
    margin-left: 54.16667%;
    clear: none; } }

@media (min-width: 960px) {
  .region-sidebar {
    width: 33.33333%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none; }
  .region-main {
    width: 61.11111%;
    float: left;
    margin-right: -100%;
    margin-left: 36.11111%;
    clear: none; } }

.fade-enter-active {
  transition: opacity 0.3s cubic-bezier(0.3, 0.01, 0.61, 0.95); }

.fade-leave-active {
  transition: opacity 0.3s cubic-bezier(0.3, 0.01, 0.61, 0.95); }

.fade-enter, .fade-leave-to {
  opacity: 0; }

@media (max-width: 619px) {
  .slide-enter-active {
    transition: transform 0.3s cubic-bezier(0.3, 0.01, 0.61, 0.95); }
  .slide-leave-active {
    transition: transform 0.3s cubic-bezier(0.3, 0.01, 0.61, 0.95);
    transform: translateX(0); }
  .slide-enter, .slide-leave-to {
    transform: translateX(100vw); } }

@media (min-width: 620px) {
  .slide-leave-active,
  .slide-enter-active {
    transition: opacity 0.3s cubic-bezier(0.3, 0.01, 0.61, 0.95); }
  .slide-enter, .slide-leave-to {
    opacity: 0; } }
