.button {
  border: 1px solid $primary;
  padding: $padding - 6px $padding;
  text-decoration: none;
  color: $primary;
  display: inline-block;
  border-radius: $radius;
  transition: all $speed $easing;
  cursor: pointer;

  i {
    transition: all $speed $easing;
  }

  span + i,
  i + span {
    margin-left: 8px;
  }

  &.small {
    padding: $padding - 10px $padding - 4px;
    font-size: 12px;
    text-transform: uppercase;

    span + i,
    i + span {
      margin-left: 6px;
    }
  }

  &.secondary {
    letter-spacing: 1px;
    color: $gray-dark;
    border-color: $gray-dark;

    i {
      color: lighten($gray-dark, 25);
    }

    &:not(.disabled):hover {
      background-color: $gray-dark;
      color: $white;

      i {
        color: $white;
      }
    }
  }

  &.primary {
    padding: $padding - 8px $padding - 2px;
    border: 3px solid $primary;
    font-weight: bold;
    background-color: lighten($primary, 66);

    &:not(.disabled):hover {
      background-color: $primary;
      color: $white;
    }
  }

  &.disabled {
    border-color: $gray;
    cursor: not-allowed;
    color: $gray;
    background-color: transparent;
  }

  & + & {
    margin-left: $padding;
  }
}