body {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
}

html {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

*:focus {
  outline: none;
}

*::-moz-focus-inner {
  border: none;
}

*::placeholder {
  font-family: 'Open Sans', sans-serif;
}