.form-group {
  label {
    font-style: italic;
    font-size: 14px;
    color: $gray-dark;
  }
}

textarea,
input[type="text"] {
  border: none;
  border-bottom: 2px solid $gray;
  padding: $padding 0;
  margin-bottom: $padding * 2;
  transition: all $speed $easing;

  &::placeholder {
    color: $gray-dark;
  }

  &:focus,
  &:hover {
    border-bottom: 2px solid $primary;
  }
}

input[type="checkbox"] {
  cursor: pointer;
}

.form-actions {
  margin-top: $padding * 3;
  float: left;
  clear: both;
}

input:required {
  box-shadow: none;
}