.form-group.field-input,
.form-group.field-label {
  > label {
    font-style: italic;
    font-size: 14px;
    color: $gray-dark;
    float: left;
    width: 100%;
  }
}

.form-group.field-input > label {
  padding-bottom: 10px;
}

textarea,
input[type="text"] {
  border: 1px solid $gray;
  padding: $padding;
  margin-bottom: $padding;
  transition: all $speed $easing;

  &::placeholder {
    color: $gray-dark;
  }

  &:focus,
  &:hover {
    border-color: $primary;
  }
}

input[type="checkbox"] {
  cursor: pointer;
}

.form-actions {
  margin-top: $padding * 3;
  display: flex;
  float: left;
  width: 100%;
  flex-flow: row;

  .button {
    text-align: center;
    margin: 0;
    flex: 1 1 auto;
  }

  .button.secondary {
    border-radius: $radius 0 0 $radius;
    border-right: 0;
  }

  .button.secondary + .button.primary {
    border-radius: 0 $radius $radius 0;
  }
}

input:required {
  box-shadow: none;
}